<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>TEST</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/1929a6e71a.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <style>
        .wrapper {padding:50px 30px;}
        .title {font-size:24px;}
        .title .name {font-weight: 600;}
        .author-box {margin:20px 0; font-size: 15px;}
        .tab-cont-box {display: none;}
        .tab-cont-box.active {display: block;}
        .tab-inner {padding:30px 0;}
        .organ-box {padding:30px 40px; background: #f3f3f3;}
        .organ-list {list-style: none; border-left:1px solid #d1d1d1; padding-left:25px;}
        .organ-list .organ-list {margin:15px 0;}
        .organ-list li {margin-bottom:10px; position:relative}
        .organ-list .name {border:none; background:none; font-size: 16px; padding:0;}
        .organ-list .name.active {color:red; text-decoration: underline;}
        .organ-list .del {border:none; background:none; font-size: 18px; color:#959595; padding:0; margin-left:5px;}
    </style>
</head>
<body>
    <div class="wrapper">
        <h1 class="title"><span class="name">[사용자]</span>님 환영합니다.</h1>
        <div class="author-box">
            <strong>권한</strong>: 최고관리자, 최고관리자
        </div>
        <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist" id="tab_list">
                <li role="presentation" class="active"><a href="#list_content" role="tab" data-toggle="tab">권한</a></li>
                <li role="presentation"><a href="#auth_content" role="tab" data-toggle="tab">목록</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="list_content">
                    <div class="tab-inner">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="organ-box">
                                    <ul class="organ-list">
                                        <li>
                                            <button type="button" class="name" onclick="list_select(this);">list1</button>
                                            <button type="button" class="del" title="삭제하기" onclick="list_delete(this);"><i class="fas fa-minus-square"></i></button>
                                            <ul class="organ-list">
                                                <li>
                                                    <button type="button" class="name" onclick="list_select(this);">list1</button>
                                                    <button type="button" class="del" title="삭제하기" onclick="list_delete(this);"><i class="fas fa-minus-square"></i></button>
                                                </li>
                                                <li>
                                                    <button type="button" class="name" onclick="list_select(this);">list2 list2 list2 list2</button>
                                                    <button type="button" class="del" title="삭제하기" onclick="list_delete(this);"><i class="fas fa-minus-square"></i></button>
                                                </li>
                                                <li>
                                                    <button type="button" class="name" onclick="list_select(this);">list3</button>
                                                    <button type="button" class="del" title="삭제하기" onclick="list_delete(this);"><i class="fas fa-minus-square"></i></button>
                                                </li>
                                                <li>
                                                    <button type="button" class="name" onclick="list_select(this);">list4</button>
                                                    <button type="button" class="del" title="삭제하기" onclick="list_delete(this);"><i class="fas fa-minus-square"></i></button>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <button type="button" class="name" onclick="list_select(this);">list1</button>
                                            <button type="button" class="del" title="삭제하기" onclick="list_delete(this);"><i class="fas fa-minus-square"></i></button>
                                        </li>
                                        <li>
                                            <button type="button" class="name" onclick="list_select(this);">list1</button>
                                            <button type="button" class="del" title="삭제하기" onclick="list_delete(this);"><i class="fas fa-minus-square"></i></button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" title="목록명 입력" placeholder="목록명을 입력하세요.">
                                    </div>
                                    <div class="col-sm-5">
                                        <select class="form-control" title="권한 선택">
                                            <option value="">최고관리자</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="button" class="btn btn-primary">추가</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="auth_content">
                    <div class="tab-inner">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="organ-box">
                                    <ul class="organ-list">
                                        <li>
                                            <button type="button" class="name" onclick="author_select(this);">권한1</button>
                                            <button type="button" class="del" title="삭제하기" onclick="author_delete(this);"><i class="fas fa-minus-square"></i></button>
                                            <ul class="organ-list">
                                                <li>
                                                    <button type="button" class="name" onclick="author_select(this);">권한1</button>
                                                    <button type="button" class="del" title="삭제하기" onclick="author_delete(this);"><i class="fas fa-minus-square"></i></button>
                                                </li>
                                                <li>
                                                    <button type="button" class="name" onclick="author_select(this);">권한1 권한1 권한1 </button>
                                                    <button type="button" class="del" title="삭제하기" onclick="author_delete(this);"><i class="fas fa-minus-square"></i></button>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <button type="button" class="name" onclick="author_select(this);">권한2</button>
                                            <button type="button" class="del" title="삭제하기" onclick="author_delete(this);"><i class="fas fa-minus-square"></i></button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" title="권한명 입력" placeholder="권한명을 입력하세요.">
                                    </div>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" title="롤명 입력" placeholder="롤명을 입력하세요.">
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="button" class="btn btn-primary">추가</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // 탭
        $('#tab_list a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        });

        // 목록 선택
        function list_select(target) {
            $(target).parents(".organ-list").find(".name").removeClass("active");
            $(target).addClass("active");
        }

        // 목록 삭제
        function list_delete(target) {
            $(target).closest("li").remove();
        }

        // 권한 선택
        function author_select(target) {
            $(target).parents(".organ-list").find(".name").removeClass("active");
            $(target).addClass("active");
        }

        // 권한 삭제
        function author_delete(target) {
            $(target).closest("li").remove();
        }
    </script>
</body>
</html>