<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>develop</title>
    <style>
        .box {display: flex; padding-top:50px; justify-content: center}
        .box > * {margin:0 10px;}
        .box select {min-width: 200px;}
    </style>
</head>
<body>
    <div class="box">
        <select>
            <option value="0">테스트</option>
        </select>
        <select>
            <option value="0">테스트</option>
        </select>
        <button type="button">적용</button>
    </div>
</body>
</html>