<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>Docker & Kubernetess</title>
</head>
<body>
	<div style="display:flex; align-items:center; justify-content:center;">
		<img alt="docker" src="/static/img/01_docker-logo.png" style="width:300px;">
		<img alt="docker" src="/static/img/kubernetes-logo.png" style="width:415px;">
	</div>
	<div style="text-align:center; margin-top:30px; font-size:50px;">Docker & Kubernetess</div>
	<div style="margin-top:20px; text-align:center;">
		<button type="button" onclick="location.href='/user/logout'">로그아웃</button>
	</div>
</body>
</html>